doctype html
html
 head
 link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css", integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA", crossorigin="anonymous")
 link(rel="stylesheet", href="../../css/signup.css")
 body
  .container(style="width: 540px")
   h2(style="margin-left: 35px; color: #fff; font-weight: 300;") Welcome to MO.Cart Shopping

   if errors
    each error in errors
      .alert.alert-danger= error

   form(action="/users/create", method="POST", enctype="multipart/form-data")
    .input-group
     input#name(name="name", type="text", value=values ? values.name : "")
     label(for="name") Name

    .input-group
      input#email(type="email", name="email", value=values ? values.email : "")
      label(for="email") Email
    
    .input-group
      input#password(type="password", name="password", value=values ? values.password : "")
      label(for="password") Password

    .input-group 
     input#phone(name="phone", type="text", value=values ? values.phone : "")
     label(for="phone") Phone

    //- .form-group
    //-  label(for="avatar") Avatar
    //-  input#avatar(name="avatar", type="file").form-control-file

    button.btn.btn-primary(type="submit", style="outline: none;") Sign Up

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>